EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyABdfD_FBwOuZsTf0WRRNMXLr4qBhs7voU
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=gethired-9ed17.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=gethired-9ed17
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=gethired-9ed17.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=341441023760
EXPO_PUBLIC_FIREBASE_APP_ID=1:341441023760:android:8e0468362431dd3d6ddf95
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=your-web-client-id.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=1039913316027-eg6qb1sohd6962u08ttjehbs30klv3mu.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=341441023760-tg7i4r5g87n2hhd31jd6fp8huhlv1poi.apps.googleusercontent.com
